
#layer-panel-QnJ1Z2Vyc3BlY2lmaWtrZSBsYWc {
  display: none !important;
}

#layer-panel-T3ZlcmZsYWRldmFuZA {
  display: none !important;
}

#layer-panel-R3J1bmR2YW5k {
  display: none !important;
}

#layer-panel-S2xpbWE {
  display: none !important;
}

#layer-panel-R3J1bmR2YW5kLCBhbmFseXNlcg {
  display: none !important;
}

[data-gc2-layer-key="kortforsyningen.dhm_kurver_0_5_m.the_geom"] :is(.js-toggle-search, .js-toggle-labels, .js-toggle-load, .js-toggle-filters, .js-toggle-filters-number-of-filters) { 
  display: none !important;
}

[data-gc2-layer-key="kortforsyningen.dhm_kurver_2_5_m.the_geom"] :is(.js-toggle-search, .js-toggle-labels, .js-toggle-load, .js-toggle-filters, .js-toggle-filters-number-of-filters) { 
  display: none !important;
}

[data-gc2-layer-key="kortforsyningen.dhm_kurver_0_25_m.the_geom"] :is(.js-toggle-search, .js-toggle-labels, .js-toggle-load, .js-toggle-filters, .js-toggle-filters-number-of-filters) { 
  display: none !important;
}

/* Fjerner Vilkårlige filtre, knapper til at skifte imellem samt "filter funktioner" som download osv, som alligevel ikke virker til at virke  */
[data-gc2-layer-key="gc2_io_dk_danmarksarealinformation.bes_naturtyper.the_geom"] :is(.js-arbitrary-filters, .btn-group, .btn-group-justified, .filter-functions) { 
  display: none !important;
}

.filter-functions { 
  display: none !important;
}
