
#layer-panel-QnJ1Z2Vyc3BlY2lmaWtrZSBsYWc {
  display: none !important;
}

#layer-panel-T3ZlcmZsYWRldmFuZA {
  display: none !important;
}

#layer-panel-R3J1bmR2YW5k {
  display: none !important;
}

#layer-panel-S2xpbWE {
  display: none !important;
}

#layer-panel-R3J1bmR2YW5kLCBhbmFseXNlcg {
  display: none !important;
}
